:root{
    --background: #17181a;
}
@font-face {
    font-family: "Ruhl";
    src: url('../assets/fonts/FrankRuhlLibre-Regular.ttf');
}

@font-face {
    font-family: "Ruhl Medium";
    src: url('../assets/fonts/FrankRuhlLibre-Medium.ttf');
}

@font-face {
    font-family: "Vibes";
    src: url('../assets/fonts/GreatVibes-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}
body {
    font-family: 'Poppins',sans-serif;
    font-size: 62.5%;
    color: white;
    background: var(--background);
    overflow-x: hidden;
    position: relative;
}

main {
    position: absolute;
    width: 100%;
}

/*header*/

.nav-header {
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
    z-index: 2;
    position: relative;
}

#logo {
    color: white;
    text-decoration: none;
    font-family: 'Vibes', sans-serif;
    font-size: 1.5rem;
}
.burger {
    cursor: pointer;
}
.line1,.line2 {
    width: 2rem;
    height: 0.25rem;
    background: white;
    margin: 0.5rem;
    z-index: 1000;
    pointer-events: none;
}

/*slides section*/ 
.slide {
    min-height: 100vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hero-img {
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
}
.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reveal-img,
.reveal-desc {
    position: absolute;
    background: var(--background);
    width: 100%;
    height: 200%;
    left: 0;
    top: -20%;

}
.hero-desc {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    word-break: break-word;
    flex-basis: 25rem;
    align-items: center;
    margin: 2.5rem;
}
.hero-desc h2{
    font-family: 'Vibes',sans-serif;
    font-size: 3.5rem;
    background: var(--background);
}
.hero-desc p {
    margin: 3rem 0;
    font-size: 1.5rem;
    color: rgb(223, 223, 223);
}
.fashion-span, .text1 h1 {
    color: rgb(255, 139, 93);
}
.mountain-span, .text2 h1 {
    color: rgb(86, 124, 228);
}
.hike-span, .text3 h1 {
    color: rgb(167, 110, 231);
}
.explore {
    border: 1px solid white;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    align-self: flex-start;
    cursor: pointer;
}

/* Nav bar */

.nav-bar {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    clip-path: circle(2rem at 100% -10%);
    -webkit-clip-path: circle(2rem at 100% -10%);
}
.nav-links {
    font-size: 2rem;
    flex-basis: 30rem;
}
.connect {
    flex-basis: 30rem;
}

/*cursor*/
.cursor {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    transition-property: transform, background;
    transform-origin: 75% 75%;
}
.active-nav {
    transform: scale(2);
    background: rgb(167, 110, 231);
    z-index: -1;
}
.active-explore {
    transform: scale(2);
    background: rgb(167, 110, 231);
    z-index: -1;
}

/*title swipes*/ 

.title {
    position: relative;
    overflow: hidden;
    align-self: flex-start;
}
.t-swipe1 {
    background: rgb(86, 124, 228);
}

.t-swipe2 {
    background: rgb(167, 110, 231);
}

.t-swipe3 {
    background: rgb(255, 139, 93);
}
.title-swipe {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    mix-blend-mode: darken;
    transform: translateY(100%);
}

.hide {
    overflow: hidden;
}

/* .scrollmagic-pin-spacer {
    position: static !important;
} */

/*********** PAGES **********/

/* Fashion Page */

.fashion-slide1,
.fashion-slide2,
.fashion-slide3 {
    position: relative;
    min-height: 90vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem auto 0;
}

.fashion-img{
    height: 80vh;
    flex-basis: 30rem;
}

.fashion-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.fashion-text {
    flex: 1;
    position: relative;
    flex-basis: 25rem;
}

.fashion-text h1 {
    font-family: 'Vibes',
    sans-serif;
    font-size: 5rem;
    font-weight: 700;
    padding: 5rem 0;
}

.fashion-text p {
    font-size: 1.5rem;
    margin-bottom: 7rem;
}

.fashion-nr {
    position: relative;
}

.fashion-nr span{
    position: absolute;
    bottom: 33rem;
    font-size: 7rem;
    opacity: 0.5;
    text-shadow: 1px 1px 3px black;
}

@media screen and (max-width: 800px) {

    /* Nav Links */
    .nav-bar {
        padding: 1rem;
    }

    .nav-links h1 {
        font-size: 1rem;
    }

    .nav-links, .connect {
        flex-basis: auto;
    }

    /* Home Page */

    .hero-desc h2 {
        font-size: 2.5rem;
    }

    .hero-desc p {
        margin: 0.5rem 0;
        font-size: 1rem;
    }

    .explore {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 0.75rem;
    }

    /* Fashion Page */
    .fashion-slide1,
    .fashion-slide2,
    .fashion-slide3 {
        margin: auto;
    }

    .fashion-text h1 {
        font-size: 3rem;
        padding: 2rem 0;
    }

    .fashion-text p {
        font-size: 1rem;
    }

    .fashion-text p {
        margin-bottom: 0rem;
    }

    .fashion-nr span {
        bottom: 28rem;
        font-size: 5rem;
    }

}


