:root{
    --background: #17181a;
}
@font-face {
    font-family: "Ruhl";
    src: url('../assets/fonts/FrankRuhlLibre-Regular.ttf');
}

@font-face {
    font-family: "Ruhl Medium";
    src: url('../assets/fonts/FrankRuhlLibre-Medium.ttf');
}

@font-face {
    font-family: "Vibes";
    src: url('../assets/fonts/GreatVibes-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}
body {
    font-family: 'Poppins',sans-serif;
    font-size: 62.5%;
    color: white;
    background: var(--background);
    overflow-x: hidden;
}
/*header*/
.nav-header {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
#logo a {
    color: white;
    text-decoration: none;
    font-family: 'Vibes', sans-serif;
    font-size: 1.5rem;
}
.burger {
    cursor: pointer;
}
.line1,.line2 {
    width: 2rem;
    height: 0.25rem;
    background: white;
    margin: 0.5rem;
    pointer-events: none;
}

/*slides section*/ 
.slide {
    min-height: 100vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hero-img {
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
}
.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reveal-img,
.reveal-desc {
    position: absolute;
    width: 100%;
    height: 110%;
    background: var(--background);
    top: 0;
    left: 0;

}
.hero-desc {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    word-break: break-word;
    flex-basis: 25rem;
    align-items: center;
    margin: 2.5rem;
}
.hero-desc h2{
    font-family: 'Vibes',sans-serif;
    font-size: 3.5rem;
}
.hero-desc p {
    margin: 3rem 0;
}
.title-swipe{
    position: absolute;
}
.fashion-span {
    color: rgb(255, 139, 93);
}
.mountain-span {
    color: rgb(86, 124, 228);
}
.hike-span {
    color: rgb(167, 110, 231);
}
.explore {
    border: 1px solid white;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
}
.nav-bar {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    clip-path: circle(2rem at 100% -10%);
    -webkit-clip-path: circle(2rem at 100% -10%);
}
.nav-links {
    font-size: 2rem;
    flex-basis: 30rem;
}
.connect {
    flex-basis: 30rem;
}
.cursor {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
}
